<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Chrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="SelenideTest"/>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="Firefox">
        <parameter name="browser" value="ff"/>
        <classes>
            <class name="SelenideTest"/>
        </classes>
    </test>
</suite>